@font-face {
    font-family: 'CHINESE-HYQiHei-70S';
    src: url('../assets/font/CHINESE-HYQiHei-70S.otf');
}

@font-face {
    font-family: 'ENGLISH-VILANE-MEDIUM';
    src: url('../assets/font/ENGLISH-VILANE-MEDIUM.ttf');
}